<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.database.mybatis.score.repository.IScoreMapper">
  	
  	<!--  DB 컬럼과 VO의 필드명을 맞추는 resultmap 선언 -->
  	<resultMap id="ScoreMap" type="com.spring.database.mybatis.score.model.ScoreVO" >
  	<id property="stuId" column="stu_id" /> <!--  primary key 매핑 -->
  	<result property="stuName" column="stu_name"/>
  	<result property="kor" column="kor"/>
  	<result property="eng" column="eng"/>
  	<result property="math" column="math"/>
  	<result property="total" column="total"/>
  	<result property="average" column="average"/>
  	</resultMap>
  	
  	<insert id="insertScore">
  		INSERT INTO scores 
  		(stu_id, stu_name, kor, eng, math, total, average)
  		VALUES (stu_id.nextval,#{stuName},#{kor},#{eng},#{math}
  		,#{total},#{average})
  	</insert>
  	
  	<delete id="deleteScore">
  		DELETE FROM scores WHERE stu_id=#{stuNum}
  	</delete>
  
  
	  <select id="selectAllScores" resultMap="ScoreMap">
	  	SELECT * FROM scores
	  </select>
	  
	  
	  <select id="selectOne">
	  	SELECT * FROM scores
	  	WHERE stu_id=#{stuNum}
	  </select>
	  
  </mapper>