<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.seven.jong.repository.hosting.IAccommodationMapper">


    <resultMap id="accommodationMap" type="com.seven.jong.VO.hosting.AccommodationVO" >

        <id property="accommodationId" column="accommodation_id"/>
        <result property="userId" column="user_id"/>
        <result property="address" column="address"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="maxNumberOfGuest" column="max_number_guest"/>
        <result property="numberOfBedroom" column="number_bedroom"/>
        <result property="numberOfBed" column="number_bed"/>
        <result property="numberOfBathroom" column="number_bathroom"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>

    <sql id="search">
        <if test="condition == 'address'">
            WHERE ADDRESS LIKE CONCAT('%',CONCAT('${keyword}','%'))
        </if>
        <if test="condition == 'name'">
            WHERE NAME LIKE CONCAT('%',CONCAT('${keyword}','%'))
        </if>
    </sql>

    <insert id="addAccommodation">
        INSERT INTO ACCOMMODATION (ACCOMMODATION_ID, USER_ID, NAME, ADDRESS, TYPE, MAX_NUMBER_GUEST,
                                   NUMBER_BEDROOM, NUMBER_BED, NUMBER_BATHROOM, CONTACT_NUMBER, PRICE, DESCRIPTION) VALUES
        (ACCOMMODATION_SEQ.nextval,#{userId}, #{name}, #{address}, #{type}, #{maxNumberOfGuest},
         #{numberOfBedroom}, #{numberOfBed}, #{numberOfBathroom}, #{contactNumber}, #{price}, #{description})
    </insert>
    <!-- UserId와 다른 숙소 정보를통해 (accommodationId가 autoIncreament라서 accommodationId를 가져오기 위한  매핑 -->
    <select id="findForPhoto" resultMap="accommodationMap">
        SELECT * FROM ACCOMMODATION
        WHERE USER_ID=#{userId} and NAME=#{name} and ADDRESS=#{address} and TYPE=#{type}
    </select>
    <!-- 모든 숙소 정보 가져오기 -->
    <select id="getAllByUserId" resultMap="accommodationMap">
        SELECT * FROM
        (SELECT ROW_NUMBER() OVER (ORDER BY ACCOMMODATION_ID DESC) NUM, A.*
        FROM ACCOMMODATION A)
        WHERE USER_ID=#{userId} AND NUM BETWEEN #{firstPage} AND #{lastPage}
    </select>

    <!-- 하나의 숙소 가져오기 -->
    <select id="getOneById" resultMap="accommodationMap">
        SELECT * FROM ACCOMMODATION
        WHERE ACCOMMODATION_ID=#{accommodationId}
    </select>

    <delete id="deleteAccommodation">
        DELETE FROM ACCOMMODATION
        WHERE ACCOMMODATION_ID=#{accommodationId}
    </delete>

    <update id="updateAddress">
        UPDATE ACCOMMODATION
        SET ADDRESS=#{address}
        WHERE ACCOMMODATION_ID=#{accommodationId}
    </update>

    <update id="updateHouse">
        UPDATE ACCOMMODATION
        SET name=#{name}, TYPE=#{type}, MAX_NUMBER_GUEST=#{maxNumberOfGuest}
            ,NUMBER_BEDROOM=#{numberOfBedroom}, NUMBER_BED=#{numberOfBed}, NUMBER_BATHROOM=#{numberOfBathroom}
            ,PRICE=#{price},CONTACT_NUMBER=#{contactNumber}, DESCRIPTION=#{description}
        WHERE ACCOMMODATION_ID=#{accommodationId}
    </update>

    <!-- 모든 숙소 정보 가져오기 -->
    <select id="searchAccommodation" resultMap="accommodationMap">
        SELECT *
        FROM (
        SELECT ROW_NUMBER() OVER (ORDER BY ACCOMMODATION_ID DESC) NUM
        , A.*
        FROM
        ACCOMMODATION A
        <include refid="search"/>
        )
        WHERE NUM BETWEEN #{firstPage} AND #{lastPage}
    </select>

    <select id="countSearch" resultType="Integer">
        SELECT COUNT(*)
        FROM ACCOMMODATION
        <include refid="search"/>
    </select>

    <!-- 총 숙소 갯수 by User -->
    <select id="getNumberAccommodationByUserId" resultType="Integer">
        select count(*) from ACCOMMODATION
        WHERE USER_ID=#{userId}
    </select>

    <!-- 총 숙소 갯수 가져오기 -->
    <select id="selectHouseCount" resultType="Integer">
    	select count(*) from ACCOMMODATION
    </select>
    
    <!-- 숙소 리스트 가져오기 -->
    <select id="houseList" resultMap="accommodationMap">
    	select B.* from(select rownum rn, A.* from
			(select * from ACCOMMODATION order by reg_date desc)A)B where rn between #{s} and #{e}
    	
    </select>
    
    <!-- 조건에 맞는 숙소 수 가져오기 -->
    <select id="selectSearchHouseCount" resultType="Integer">
    	select count(*) from ACCOMMODATION where ${c} like '%'||#{search}||'%' order by reg_date desc
    </select>
    
    <!-- 검색 숙소 가져오기 -->
    <select id="houseSearchList" resultMap="accommodationMap">
    	select B.* from(select rownum rn, A.* from
			(select * from ACCOMMODATION where ${c} like '%'||#{search}||'%' order by reg_date desc)A)B where rn between #{s} and #{e}
    </select>
    
    <delete id="houseDelete">
    	DELETE FROM ACCOMMODATION WHERE ACCOMMODATION_ID = #{accommodationId}
    </delete>
    

</mapper>