@charset "UTF-8";



.navbar{
	display: flex;	
	align-items: center;
	background-color: #263343;
	padding: 8px 12px;
}

.nav__menu{
	display: flex;
	list-style: none;
	font-size: 24px;
	padding-left: 0;
	
	
}
	
	
.nav__menu > li {
	padding: 8px 20px;
	align-items: center;
}
	
.nav__menu >li:hover{
	background-color: #d49466;
	border-radius: 3px;
}

body{
	margin: 0;
	font-family: "돋움",dotum,"굴림",gulim, arial, helvetica, sans-serif;
}

a{
	text-decoration: none;
	color: white;
}
.nav__toogleBtn{
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
	color: #d49466;
}
@media screen and (max-width: 768px){
	.navbar{
		flex-direction: column;
		align-items: flex-start;
		padding: 35px 24px;
	}
	.nav__menu{
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%
	}
	.nav__menu li {
		width: 100%;
		text-align: center;
	}
	.nav__toogleBtn{
		display: block;
		
	}
	.nav_menu.active{
		display: flex;
	}
}

