<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.seven.jong.repository.ICsMapper">

    <resultMap id="CsMap" type="com.seven.jong.DTO.FaqDTO" >
        <id property="faqNum" column="faq_num"/>
        <result property="question" column="question"/>
        <result property="answer" column="answer"/>
    </resultMap>
    

	<!-- 자주하는 질문 등록 -->
	<insert id="addFaq">
		insert into faq(faq_num,question,answer)
			values(faq_seq.nextval,#{question},#{answer})
	</insert>
	
	<!-- 자주하는 질문 삭제 -->
	<delete id="delFaq">
		DELETE FROM FAQ WHERE FAQ_NUM = #{faqNum}
	</delete>

    <!-- 자주하는 질문 가져오기  -->
    <select id="faqList" resultMap="CsMap">
		select * from FAQ   
    </select>
    
 
</mapper>

