<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.seven.jong.repository.hosting.IAccommodationPhotoMapper">

    <resultMap id="accommodationPhotoMap" type="com.seven.jong.VO.hosting.AccommodationPhotoVO" >
        <id property="accommodationId" column="accommodation_id"/>
        <result property="photoURL" column="photo_url"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>

    <insert id="addPhoto">
        INSERT INTO ACCOMMODATION_PHOTO (ACCOMMODATION_ID, PHOTO_URL)
        VALUES (#{accommodationId}, #{photoURL})
    </insert>

    <select id="getPhotos" resultMap="accommodationPhotoMap">
        SELECT * FROM ACCOMMODATION_PHOTO
        WHERE ACCOMMODATION_ID=#{accommodationId}
    </select>




</mapper>