<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.seven.jong.repository.IAccommodationMapper">

    <resultMap id="accommodationMap" type="com.seven.jong.VO.hosting.AccommodationVO" >
        <id property="accommodationId" column="accommodation_id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="type" column="address"/>
        <result property="maxNumberGuest" column="max_number_guest"/>
        <result property="numberBedroom" column="number_bedroom"/>
        <result property="numberBed" column="number_bed"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="regDate" column="reg_date"/>
    </resultMap>

    <insert id="addAccommodation">

    </insert>

    <update id="updateAccommodation">

    </update>


    <select id="getAccommodationById" resultMap="accommodationMap">
        SELECT * FROM accommodation
        WHERE accommodation_id = #{accommodationId}
    </select>

    <select id="getAccommodationByName" resultMap="accommodationMap">
        SELECT * FROM accommodation
        WHERE name = #{name}
    </select>

    <delete id="deleteAccommodation">
        DELETE FROM accommodation
        WHERE accommodation_id = #{accommodationId}
    </delete>
</mapper>