<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.seven.jong.repository.user.IPersistentMapper">

    <resultMap id="persistentMap" type="com.seven.jong.VO.security.PersistentTokenVO" >
        <id property="userId" column="user_id"/>
        <result property="key" column="key"/>
        <result property="token" column="token"/>
        <result property="lastUsed" column="lastUsed"/>
    </resultMap>

    <insert id="createNewToken">
        INSERT INTO PERSISTENT (USER_ID, KEY, TOKEN, LAST_USED)
        VALUES (#{userId},#{key},#{token},#{lastUsed})
    </insert>

    <update id="updateToken">
        UPDATE PERSISTENT
        SET KEY=#{key}, TOKEN=#{token}, LAST_USED=#{lastUsed}
        WHERE USER_ID =#{userId}
    </update>


    <select id="getTokenForKey" resultMap="accommodationMap">
        SELECT * FROM PERSISTENT
        WHERE KEY = #{key}
    </select>

    <select id="getTokenByUserId" resultMap="accommodationMap">
        SELECT * FROM PERSISTENT
        WHERE USER_ID = #{userId}
    </select>

    <delete id="removeUserTokens">
        DELETE FROM PERSISTENT
        WHERE USER_ID = #{userId}
    </delete>
</mapper>