<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.seven.jong.repository.IUserMapper">

    <resultMap id="UserMap" type="com.seven.jong.DTO.UserDTO" >
        <id property="id" column="user_id"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
    </resultMap>

    <!-- 회원가입 -->
    <insert id="addUser">
        INSERT INTO air_user (id,email,name,password)
        VALUES (user_seq.nextval,#{email}, #{name}, #{password})
    </insert>
</mapper>