@charset "UTF-8";


html {
  font-family: "돋움",dotum,"굴림",gulim, arial, helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.bigdiv {
	width: 500px;
	margin: 20px auto;
	padding: 50px;
	border-width: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	
}