<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seven.jong.repository.IBoardMapper">
					
	<resultMap type="com.seven.jong.DTO.BoardDTO" id="board">
		<id property="writeNo" column="write_no"/>
		<result property="email" column="email"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="saveDate" column="savedate"/>
		<result property="hit" column="hit"/>
	</resultMap>
	
</mapper>     